@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-aquamarine: #A3D2CA;
  --color-teal: #50828F;
  --color-lilac: #C4A5D3;
  --color-eggplant: #5A2C70;
  --color-rose: #A66C96;
  --color-salmon: #DFB6B2;

  --color-dark: #312A2F;
  --color-light: #F9F1F8;

  --font-display: "Inter", "Nunito Sans", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));