---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Contact">
  <Banner>
    <h1 class="flex justify-center text-5xl font-medium text-eggplant">
      Contact
    </h1>
  </Banner>
</Layout>
