---
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gallery</title>
  </head>
  <body>
    <Navigation />
    <h1>Gallery</h1>
    <blockquote>
      <p>
        And my heart swells at the silly, simple, human fact that when we
        stumble upon something beautiful, our first instinct is to show it to
        the people we love. It's what we do with pretty seashells on a beach, a
        radiant sunset, a rare bird flitting through the trees, a herd of wild
        horses grazing in the countryside.<i>Look</i>, we say, saving these
        little pieces of beauty for each other. <i>
          Do you see it too? Isn't the world such a strange, lovely,
          breathtaking place?</i
        >
      </p>
      <cite>— Ann Liang, Never Thought I'd End Up Here, pg. 284</cite>
    </blockquote>
  </body>
</html>
