---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Gallery">
  <Banner>
    <h1 class="flex justify-center text-5xl font-medium">Gallery</h1>
  </Banner>
  <div>
    Yay, you've found my Gallery! I often forget to include photography in any
    list of my hobbies, but I'm a very amateur photographer (as in, I use my
    phone camera exclusively). Here are some of my favourite photos that I've
    taken, mostly from various trips that I've gone on!
  </div>
  <div>
    To end off, here's a quotation written by Ann Liang that I really like:
    <blockquote>
      <p>
        And my heart swells at the silly, simple, human fact that when we
        stumble upon something beautiful, our first instinct is to show it to
        the people we love. It's what we do with pretty seashells on a beach, a
        radiant sunset, a rare bird flitting through the trees, a herd of wild
        horses grazing in the countryside. <i>Look</i>, we say, saving these
        little pieces of beauty for each other. <i>
          Do you see it too? Isn't the world such a strange, lovely,
          breathtaking place?</i
        >
      </p>
      <cite>— Ann Liang, Never Thought I'd End Up Here, pg. 284</cite>
    </blockquote>
  </div>
</Layout>
