---
import "../styles/global.css";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";

import profilePic from "../images/profile-picture.jpg";
import profilePicDark from "../images/profile-picture-dark.jpg";

// Import the markdown content
const homeContent = await import("../pages/home.md");
---

<Layout title="Home">
  <Banner>
    <div
      class="flex flex-col md:flex-row justify-center md:gap-20 gap-8 items-center"
    >
      <Image
        src={profilePic}
        alt="Angela in front of a pink and blue sunset"
        loading="eager"
        class="size-40 md:size-50 rounded-full block dark:hidden"
      />
      <Image
        src={profilePicDark}
        alt="Angela in front of a pink and blue sunset"
        loading="eager"
        class="size-40 md:size-50 rounded-full hidden dark:block"
      />
      <div class="flex flex-col gap-2 text-center md:text-left">
        <div class="text-xl md:text-2xl">Hi! I'm</div>
        <h1
          class="text-4xl md:text-6xl font-medium text-eggplant dark:text-lilac mb-3"
        >
          Angela Zheng
        </h1>
        <div class="text-lg md:text-xl">
          1st Year CS @ U of T | Toronto & Ottawa, Canada
        </div>
      </div>
    </div>
  </Banner>

  <div
    class="mx-auto my-10 max-w-4xl px-4 md:px-6 lg:px-8 prose dark:prose-invert
    prose-h1:text-xl md:prose-h1:text-2xl prose-h1:font-semibold prose-h1:text-eggplant dark:prose-h1:text-lilac
    prose-h1:text-center md:prose-h1:text-left
    prose-p:text-sm md:prose-p:text-base
    prose-ul:text-sm prose-ol:text-sm prose-li:text-sm md:prose-ul:text-base md:prose-ol:text-base md:prose-li:text-base
    prose-a:text-inherit prose-a:no-underline prose-a:[&:hover]:text-eggplant dark:prose-a:[&:hover]:text-lilac"
  >
    <Fragment set:html={homeContent.compiledContent()} />
  </div>
</Layout>
