---
import "../styles/global.css";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";

import profilePic from "../images/profile-picture.jpg";
---

<Layout title="Home">
  <Banner>
    <div class="flex justify-center gap-20 items-center">
      <Image
        src={profilePic}
        alt="Angela in front of a pink and blue sunset"
        loading="eager"
        class="size-50 rounded-full"
      />
      <div>
        <div class="text-2xl">Hi! I'm</div>
        <h1 class="text-6xl font-medium">Angela Zheng</h1>
      </div>
    </div>
  </Banner>

  <div class="mx-50 my-10 grid grid-cols-1 gap-4">
    <div>
      I'm a first-year Computer Science student at the University of Toronto (St.
      George), originally from Ottawa. I'm passionate about creating useful
      software that will help improve our world, even if it's just a silly game
      that makes someone's day a bit better. I'm super interested in anything
      related to CS, math, stats, physics, astronomy, and the like!
    </div>
    <div>
      Other than this, I'm also a competitive figure skater and a former FRC and
      band kid. In my free time, I enjoy learning about random topics through
      YouTube rabbit holes, crocheting, reading books, and baking... along with
      lots of other occasional hobbies.
    </div>
    <div>
      Please feel free to connect with me through email or LinkedIn—I'd love to
      chat!
    </div>
  </div>
</Layout>
