---
import "../styles/global.css";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";

import profilePic from "../images/profile-picture.jpg";
---

<Layout title="Home">
  <Banner>
    <div class="flex justify-center gap-20 items-center">
      <Image
        src={profilePic}
        alt="Angela in front of a pink and blue sunset"
        loading="eager"
        class="size-50 rounded-full"
      />
      <div class="flex flex-col gap-2">
        <div class="text-2xl">Hi! I'm</div>
        <h1 class="text-6xl font-medium text-eggplant mb-3">Angela Zheng</h1>
        <div class="text-xl">1st Year CS @ UofT | Toronto/Ottawa, ON</div>
      </div>
    </div>
  </Banner>

  <div class="mx-50 my-10 grid grid-cols-1 gap-4">
    <h2 class="text-xl font-medium">Welcome to my personal website!</h2>
    <div>
      I'm currently a first-year Computer Science student at the University of
      Toronto (St. George), originally from Ottawa. I'm passionate about
      creating useful software that will help improve our world, even if it's
      just a silly game that makes someone's day a bit better. I'm super
      interested in anything related to CS, math, stats, physics, astronomy, and
      the like!
    </div>
    <h2 class="text-xl font-medium">What else?</h2>
    <div>
      Other than the serious stuff, I'm a former competitive figure skater (yay
      synchronized skating!), FRC member, and band kid. In my free time, I enjoy
      learning about random topics through YouTube rabbit holes, crocheting,
      reading books, baking, eating good food, drinking bubble tea, and taking
      pictures of sunsets... along with lots of other occasional hobbies. I
      can't be the only one who has a super long list of hobbies I want to try,
      but not enough time to ever do them all, right?
    </div>
    <h2 class="text-xl font-medium">Get in touch!</h2>
    <div>
      Please feel free to connect with me through email or LinkedIn—I'd love to
      chat!
    </div>
  </div>
</Layout>
