---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Projects">
  <Banner>
    <h1
      class="flex justify-center text-5xl font-medium text-eggplant dark:text-lilac"
    >
      Projects
    </h1>
  </Banner>
</Layout>
