---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import ProjectCard from "../components/ProjectCard.astro";

const allPosts = Object.values(
  import.meta.glob("./projects/*.md", { eager: true }),
);
---

<Layout title="Projects">
  <Banner>
    <h1
      class="flex justify-center text-5xl font-medium text-eggplant dark:text-lilac"
    >
      Projects
    </h1>
  </Banner>
  <div class="grid justify-center">
    {
      allPosts.map((post: any) => (
        <ProjectCard url={post.url} title={post.frontmatter.title} />
      ))
    }
  </div>
</Layout>
