---
import { Image } from "astro:assets";
import SocialLinks from "./SocialLinks.astro";
import signature from "../images/signature.png";
---

<footer class="bg-linear-117 from-teal via-lilac to-salmon pt-8">
  <SocialLinks />
  <div class="flex justify-center">
    <Image
      src={signature}
      alt="Handwritten text displaying 'Made with love by Angela Zheng'"
      width={300}
      loading="eager"
      class="pb-2"
    />
  </div>
</footer>
