---
import { Image } from "astro:assets";
import SocialLinks from "./SocialLinks.astro";
import signature from "../images/signature.png";
---

<footer class="bg-linear-90 from-aquamarine via-lilac to-salmon pt-8 pb-6">
  <SocialLinks />
  <div class="flex justify-center">
    <Image
      src={signature}
      alt="Handwritten text displaying 'Made with love by Angela Zheng'"
      width={200}
      loading="eager"
      class="mt-4"
    />
  </div>
</footer>
