---
import "../styles/global.css";
import { Image } from "astro:assets";

const { filePath } = Astro.props;
---

<div>
    <Image src={filePath} alt={"test"} loading="eager" class="rounded-lg" />
</div>
