---
import "../styles/global.css";
import { Image } from "astro:assets";
import NavLink from "./NavLink.astro";
import SocialLinks from "./SocialLinks.astro";

import nameDark from "../images/name-dark.png";
import nameLight from "../images/name-light.png";
---

<nav
  class="px-5 py-4 bg-linear-90 from-aquamarine via-lilac to-salmon dark:from-teal dark:via-eggplant dark:to-rose"
>
  <div class="flex text-lg items-center">
    <div class="mr-12">
      <Image
        src={nameDark}
        alt="Angela Zheng"
        width={150}
        loading="eager"
        class="block dark:hidden"
      />
      <Image
        src={nameLight}
        alt="Angela Zheng"
        width={150}
        loading="eager"
        class="hidden dark:block"
      />
    </div>
    <div class="flex gap-8">
      <NavLink title="Home" link="/" />
      <NavLink title="Projects" link="/projects/" />
      <NavLink title="Gallery" link="/gallery/" />
      <NavLink title="Contact" link="/contact/" />
    </div>
    <div class="ml-auto">
      <SocialLinks />
    </div>
  </div>
</nav>
