---
import "../styles/global.css";
import NavLink from "./NavLink.astro";
import SocialLinks from "./SocialLinks.astro";
---

<nav class="px-4 py-4 bg-linear-117 from-teal via-lilac to-salmon">
  <div class="flex">
    <div class="font-bold mr-12">Angela Zheng</div>
    <div class="flex gap-8">
      <NavLink title="Home" link="/" />
      <NavLink title="Projects" link="/projects/" />
      <NavLink title="Gallery" link="/gallery/" />
      <NavLink title="Contact" link="/contact/" />
    </div>
    <div class="ml-auto">
      <SocialLinks />
    </div>
  </div>
</nav>
