---
import "../styles/global.css";

const { url, title } = Astro.props;
---

<button
  onclick={`window.location.href='${url}'`}
  class="m-4 p-4 border-2 border-lilac rounded-lg hover:scale-102 hover:shadow-lg hover:cursor-pointer hover:text-eggplant transition-transform duration-200"
>
  {title}
</button>
