---
import Social from "./Social.astro";
---

<div class="flex gap-2 justify-center">
  <Social platform="Email" link="mailto:angelazheng96@gmail.com" />
  <Social
    platform="LinkedIn"
    link="https://www.linkedin.com/in/angelazheng96/"
  />
  <Social platform="GitHub" link="https://github.com/angelazheng96" />
</div>
