---
import Social from "./Social.astro";
---

<div class="flex gap-2 justify-center">
  <Social
    iconName="email"
    platform="Email"
    link="mailto:angelazheng96@gmail.com"
  />
  <Social
    iconName="linkedin"
    platform="LinkedIn"
    link="https://www.linkedin.com/in/angelazheng96/"
  />
  <Social
    iconName="github"
    platform="GitHub"
    link="https://github.com/angelazheng96"
  />
</div>
