---
import "../styles/global.css";
import { Icon } from "astro-icon/components";

const { iconName, platform, link } = Astro.props;
---

<div>
  <a href={link} target="_blank" aria-label={platform}>
    <Icon
      name={iconName}
      title={platform}
      class="h-6 w-6 text-dark hover:text-eggplant dark:text-light dark:hover:text-lilac"
    />
  </a>
</div>
