---
import "../styles/global.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Angela Zheng</title>
  </head>
  <body
    class="flex flex-col min-h-screen font-display text-dark bg-light dark:text-light dark:bg-dark"
  >
    <Navigation />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
