---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="mx-50 my-10">
    <button
      onclick="location.href='/projects'"
      class="mb-5 p-2 border-2 border-lilac rounded-lg hover:scale-102 hover:shadow-lg hover:cursor-pointer hover:text-eggplant transition-transform duration-200"
    >
      &larr; Back to Projects
    </button>
    <div class="text-lg grid gap-4 justify-center justify-items-center">
      <div>
        {
          new Date(frontmatter.date).toLocaleDateString("en-CA", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </div>
      <div>
        {frontmatter.tags ? frontmatter.tags.join(", ") : ""}
      </div>
      <h1 class="flex justify-center text-5xl font-medium">
        {frontmatter.title}
      </h1>
      <div>
        {frontmatter.techStack ? frontmatter.techStack.join(", ") : ""}
      </div>
      <div class="italic">{frontmatter.description}</div>
    </div>
    <div class="prose dark:prose-invert prose-h1-font-bold">
      <slot />
    </div>
  </div>
</Layout>
