---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="mx-50 my-10">
    <div class="text-lg grid gap-4 justify-center justify-items-center">
      <div>
        {
          new Date(
            frontmatter.date.toString().slice(0, 4),
            frontmatter.date.toString().slice(5, 7) - 1,
            frontmatter.date.toString().slice(8, 10),
          ).toDateString()
        }
      </div>
      <div>
        {frontmatter.tags ? frontmatter.tags.join(", ") : ""}
      </div>
      <h1 class="flex justify-center text-5xl font-medium">
        {frontmatter.title}
      </h1>
      <div>
        {frontmatter.techStack ? frontmatter.techStack.join(", ") : ""}
      </div>
      <div class="italic">{frontmatter.description}</div>
    </div>
    <slot />
  </div>
</Layout>
